<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assests/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="intro">
                <h1>👋Welcome</h1>
                <p>This page serves as a basic demonstration of login and registration functionality. Feel free to explore its features by using dummy account details for testing purposes.</p>
            </div>
            <div class="forms">
                <div id="forgotpassword">
                    <h2>Forgot Password</h2>
                    <form action="" method="POST" id="forgotpassword-form">
                        <input type="email" name="Email_Address" class="user" placeholder="Email Address" required>
                        <input type="password" name="Old_Password" class="password" placeholder="Old Password" required>
                        New Password
                        <input type="password" name="New_Password" id="newpassword" class="password" placeholder="New Password" required>
                        <input type="password" name="Confirm_New_Password" class="password" placeholder="Confirm Password" required>
    
                        <div class="msg"></div>
                        <button type="submit" name="submit-forgotpassword">Reset Password</button>
                    </form>
                    <a href="#login" id="back-to-login"><i class='fa fa-arrow-left'></i> Back to Login </a> 
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="./assests/js/script.js"></script>
</body>
</html>